// Colores
$color-primary: #0057b8;
$color-secondary: #333;
$color-background: #f7f7f7;
$color-text: #333;
$color-muted-text: #666;
$color-light: #fff;
$color-border: #ddd;

// Fuentes
$font-family-light: 'BarlowLight', sans-serif;
$font-family-bold: 'BarlowBold', sans-serif;
$font-family-display: 'PlayfairDisplay', serif;

// Medidas
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;
$max-width: 600px;
